.module {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 222px 60px 100px auto;
  position: relative;
  border-radius: var(--l-radius);
  background-color: var(--card-clr);
  padding-bottom: 3rem;
  scroll-snap-align: start;
}
.logo,
.link,
.poster,
.name {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.course_pad2 {
  padding-inline: 2rem;
}
.logo,
.link {
  width: fit-content;
  height: fit-content;
  z-index: 3;
}
.link {
  justify-self: flex-end;
  margin: 2rem 2rem 0 0;
}
/* LOGOS */
.logo {
  margin: 2rem 0 0 2rem;
  fill: var(--primary-clr);
}
.udemy {
  width: 70px;
}
.opiframe {
  width: 120px;
}

.poster {
  grid-row: 1 / 2;
}

.poster::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    hsl(var(--bg-clr-h) var(--bg-clr-s) var(--bg-clr-l) / 0.97) 10%,
    hsl(var(--bg-clr-h) var(--bg-clr-s) var(--bg-clr-l) / 0.55) 100%
  );
  z-index: 1;
}

.poster span {
  border-radius: var(--l-radius) var(--l-radius) 0 0;
}

.name {
  align-self: flex-end;
  padding-bottom: 1.2rem;
  padding-inline: 2rem;
  z-index: 3;
}
.complete {
  grid-row: 2;
  align-self: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-inline: 2rem;
}

.completed_icon svg,
.studying_icon svg {
  width: 17px;
  fill: var(--secondary-clr);
}
.complete_text {
  color: var(--secondary-clr);
}

.desc {
  grid-row: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding-inline: 2rem;
}
.btn_course {
  grid-row: 4;
  margin-top: 2.5rem;
  padding-block: 1rem;
  margin-inline: 2rem;
}
