.name {
  padding-block-start: 15rem;
  position: relative;
  color: var(--secondary-clr);
  font-size: 1.25em;
  text-transform: uppercase;
  user-select: none;
}
.name::before {
  --size: 18rem;
  content: attr(data-hash);
  position: absolute;
  bottom: calc(-1 * var(--size) / 1.6);
  left: 0;
  color: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l) / 0.05);
  font-size: var(--size);
  font-weight: bold;
}
.desc {
  grid-column: 4 / -1;
  padding-block-end: 12rem;
  font-size: 2.25em;
  z-index: 2;
}
.separator {
  grid-column: 2 / 4;
  width: 100%;
  height: 3px;
  position: relative;
  top: 1rem;
  background-color: var(--secondary-clr);
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 1em;
  }
  .name::before {
    --size: 12rem;
  }
  .desc {
    grid-column: 2 / -1;
    font-size: 1.7em;
  }
  .separator {
    grid-column: 1;
    top: 0.5rem;
  }
}
