.module {
  --full-main-width: 1840px;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  position: fixed;
  right: max(2rem, calc(100vw / 2 - 1.25rem - (var(--full-main-width) / 2)));
  bottom: 2rem;
  margin-left: auto;
  opacity: 0.5;
  background-color: var(--card-clr);
  border: 2px solid transparent;
  border-radius: 151rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 15px 20px var(--card-shadow-clr);
  cursor: pointer;
  z-index: 500;
}
.module::before,
.module::after {
  content: '';
  width: 12px;
  height: 3px;
  position: absolute;
  top: 11px;
  left: 6px;
  background-color: var(--secondary-clr);
  transform-origin: center right;
  border-radius: 5px;
}
.module::before {
  transform: translateX(-1px) rotate(-135deg);
}
.module::after {
  transform: translateX(1px) rotate(-45deg);
}
.module:hover {
  height: 5rem;
  border-color: var(--secondary-clr);
  opacity: 1;
}

.module.view {
  display: block;
}

@media screen and (max-width: 768px) {
  .module {
    right: 1rem;
    bottom: 1rem;
  }
}
