.svg {
  grid-row: 1;
  width: 160px;
  justify-self: center;
  transform-origin: left bottom;
}
.information {
  padding-top: 2rem;
}

.subsidy {
  padding-block: 2.5rem;
  color: var(--secondary-clr);
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.link {
  margin-top: 2.8rem;
  padding-block: 1rem;
}
