.right {
  margin-top: 10rem;
}
.left .recent {
  grid-column: 2 / 7;
}
.right .recent {
  grid-column: 9 / -2;
}
.recent {
  align-self: center;
}
.archive {
  max-width: 380px;
  position: relative;
  padding: 2rem 2rem 2rem;
  border-radius: var(--l-radius);
  background-color: var(--card-clr);
  scroll-snap-align: start;
}
.archive::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--l-radius);
  box-shadow: 1rem 1rem 0 0px var(--bg-clr),
    1rem 1rem 0 3px var(--card-extra-clr);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.archive:hover::before {
  box-shadow: 0rem 0rem 0 0px var(--bg-clr),
    0rem 0rem 0 3px var(--secondary-clr);
}

.project {
  display: flex;
  flex-flow: column;
}
.image {
  grid-column: 6 / span 7;
}

/* components */
.label {
  color: var(--secondary-clr);
  font-size: 1em;
  letter-spacing: 1px;
}
.title {
  margin: 0.6rem 0 2rem 0;
}
.archive .desc {
  min-height: 12rem;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625em;
}
.recent .tags {
  margin: 1.75rem 0 2.5rem 0;
}
.archive .tags {
  margin-top: 1.75rem;
}
.tag_name {
  padding: 0.5em 1em;
  border-radius: var(--s-radius);
  /* background-color: var(--bg-dimed); */
  background-color: hsl(
    var(--secondary-h) var(--secondary-s) var(--secondary-l) / 0.04
  );
  color: var(--secondary-clr);
  font-size: 0.875em;
  white-space: nowrap;
}
.links {
  display: flex;
  gap: 1rem;
}

.archive .links {
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.arrow {
  width: 1rem;
  height: 3px;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  border-radius: 5px;
  background-color: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
}

.arrow::before,
.arrow::after {
  content: '';
  width: calc(2rem / 2);
  height: inherit;
  position: inherit;
  right: 0;
  border-radius: inherit;
  background-color: inherit;
  transform-origin: right center;
  transition: all 0.3s ease-in-out;
}
.arrow::before {
  top: 0px;
  transform: rotate(0deg);
}
.arrow::after {
  top: 0px;
  transform: rotate(0deg);
}

.archive:hover .arrow {
  width: 2rem;
}
.archive:hover .arrow::before {
  top: -1px;
  transform: rotate(-45deg);
}
.archive:hover .arrow::after {
  top: 1px;
  transform: rotate(45deg);
}

/* Image property */
.left .image {
  grid-column: 8 / 14;
  grid-row: 1;
}
.right .image {
  grid-column: 2 / 8;
  grid-row: 1;
}
.image {
  aspect-ratio: 16 / 9;
  width: calc(100% - 1.75rem);
  position: relative;
  margin-bottom: 1.75rem;
  border-radius: var(--l-radius);
  align-self: center;
  cursor: pointer;
}

.image::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--l-radius);
  box-shadow: clamp(1rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem) 0 0px
      var(--bg-clr),
    clamp(1rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem) 0 3px
      var(--card-extra-clr);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.image:hover::after {
  box-shadow: 0 0 0 0px var(--bg-clr), 0 0 0 3px var(--secondary-clr);
}

.image img {
  border-radius: var(--l-radius);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .right .recent,
  .left .recent,
  .right .image,
  .left .image {
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
  }
  .right .recent,
  .left .recent {
    z-index: 2;
  }
  .image {
    left: 50%;
    width: 1000px;
    opacity: 0.3;
    pointer-events: none;
    z-index: 1;
  }
  .archive {
    max-width: 23.75rem;
  }
  .image::after {
    display: none;
  }
}
