.footer {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 2px solid var(--card-clr);
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__link {
  padding: 0.5em 1em;
  position: relative;
  color: var(--secondary-clr);
  letter-spacing: 1px;
  border-radius: var(--m-radius);
  transition: all 0.3s ease-in-out;
}

.footer__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  color: hsl(var(--primary-h) var(--primary-s) var(--primary-l) / 0.7);
  line-height: 1.4;
}
.footer__desc-link {
  color: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.footer__desc-link:hover {
  color: var(--primary-clr);
}

@media screen and (max-width: 768px) {
  .footer__link {
    padding: 0.5em;
  }
  .footer__link::before {
    transform: translate(0.5rem, 18px);
  }
  .footer__link::after {
    transform: translate(-0.5rem, -18px);
  }
}
