@font-face {
  font-family: 'Roboto';
  src: url('/fonts/subset-Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/subset-Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/subset-Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-scheme: dark light;
  --alpha: 1;
  --light: 10%;
  --l-radius: 0.625rem;
  --m-radius: 0.313rem;
  --s-radius: 0.313rem;
  --gap: 1.25rem;

  --notice-txt-clr: hsl(162, 47%, 66%);
  --notice-bg-clr: hsl(220, 6%, 19%);

  /* SVG Modal */
  --white: #fff;
  --beige-light: #f6f4f1;
  --beige: #ece2d0;
  --beige-dark: #bbb4a8;
  --beige-black: #8c8478;
  --grey-dark: #2d2f33;
}

html[data-theme='light'] {
  --bg-clr: hsl(40, 41%, 90%);
  --bg-clr-h: 40;
  --bg-clr-s: 41%;
  --bg-clr-l: 90%;

  --bg-dimed: hsl(23, 33%, 85%);
  /* navigation */
  --bg-nav-h: 23;
  --bg-nav-s: 33%;
  --bg-nav-l: 85%;
  --bg-nav-l1: 90%;
  --bg-nav-l2: 95%;

  --primary-clr: hsl(252, 10%, 10%);
  --primary-h: 252;
  --primary-s: 10%;
  --primary-l: 10%;
  --primary-clr-dimed: hsl(220, 6%, 19%);
  --placeholder: hsl(37, 8%, 42%);

  --secondary-clr: hsl(341, 53%, 25%);
  --secondary-h: 341;
  --secondary-s: 53%;
  --secondary-l: 25%;
  --card-clr: hsl(39, 42%, 87%);
  --card-shadow-clr: hsl(39 42% 70% / 0.4);
  --card-extra-clr: hsl(38, 12%, 70%);
  --stack-overflow-shadow: hsl(38 12% 70% / 1);
}
html[data-theme='dark'] {
  --bg-clr: hsl(252, 10%, 10%);
  --bg-clr-h: 252;
  --bg-clr-s: 10%;
  --bg-clr-l: 10%;

  --bg-dimed: hsl(159, 23%, 11%);
  /* navigation */
  --bg-nav-h: 185;
  --bg-nav-s: 17%;
  --bg-nav-l: 15%;
  --bg-nav-l1: 20%;
  --bg-nav-l2: 30%;

  --primary-clr: hsl(39, 43%, 90%);
  --primary-h: 39;
  --primary-s: 43%;
  --primary-l: 90%;
  --primary-clr-dimed: hsl(38, 12%, 70%);
  --placeholder: hsl(37, 8%, 42%);

  --secondary-clr: hsl(159, 23%, 63%);
  --secondary-h: 159;
  --secondary-s: 23%;
  --secondary-l: 63%;

  --card-clr: hsl(240, 3%, 12%);
  --card-shadow-clr: hsl(0 0% 0% / 0.15);
  --card-extra-clr: hsl(220, 6%, 19%);
  --stack-overflow-shadow: hsl(0 0% 0% / 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  text-size-adjust: none;
  /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--card-clr);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.815rem;
  background-color: var(--card-extra-clr);
}

::selection {
  color: var(--bg-clr);
  background-color: var(--secondary-clr);
}

html {
  min-height: 100%;
  line-height: 1;
  font-size: 1em;
  scrollbar-width: thin;
  scrollbar-color: var(--card-extra-clr) var(--card-clr);
  background-color: var(--bg-clr);
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth !important; /* very weird bug not works without !important*/
  }
}

body {
  max-width: 1920px;
  min-height: 100vh;
  position: relative;
  padding: 2rem 2.5rem;
  margin: 0 auto;
  /* scroll-behavior: smooth !important; */
}
#__next {
  min-height: calc(100vh - 4rem);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--m-radius);
}

ul,
ol {
  list-style: none;
}

svg {
  width: 100%;
}

fieldset {
  outline: none;
  border: none;
}
input,
textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-clr);
}

#orientation-landscape {
  display: none;
}

.main {
  grid-auto-rows: auto;
  grid-template-rows:
    2rem
    clamp(750px, 100vh, calc(1080px - 4rem - var(--gap)))
    auto;
  justify-content: center;
  row-gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(6px, 96px)) 1fr;
  column-gap: var(--gap);
  position: relative;
}

.grid-12 {
  grid-column: 2 / -2;
}

.btn {
  border: 2px solid var(--secondary-clr);
  border-radius: var(--m-radius);
  background-color: transparent;
  color: var(--secondary-clr);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.btn-fit {
  width: max-content;
  padding: 1.2rem 5rem;
}
.btn:hover {
  color: var(--bg-clr);
  background-color: var(--secondary-clr);
}
.card-title {
  color: var(--primary-clr);
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
}
.paragraph {
  color: var(--primary-clr);
  font-size: 1.125em;
  line-height: 1.5;
}

[class='paragraph'] {
  margin-block-start: 1.5rem;
}

.paragraph a {
  color: var(--secondary-clr);
}
div > .paragraph:not(:last-of-type) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem 0;
  }
  .main {
    grid-template-rows: 2rem calc(100vh - 1rem - var(--gap)) auto;
    overflow: hidden;
    padding-left: 1rem;
  }
  .grid {
    grid-template-columns: repeat(6, minmax(6px, 96px));
  }
  .grid-12 {
    grid-column: 1 / -1;
  }
  .mob-right-pad {
    padding-right: 1rem;
  }
}
/* Prevent to show content if orientation & height is valid */
@media only screen and (orientation: landscape) and (max-device-height: 480px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #orientation-landscape {
    display: flex;
  }
  #__next {
    display: none;
  }
}

.modal,
.notice {
  display: none;
}

@import url('./navigation.css');
@import url('./home.css');
@import url('./links.css');
/* @import url('./resume.css'); */
