.home-left-side {
  align-self: center;
  grid-column: 2 / span 5;
  width: min-content;
  height: min-content;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

/* SVG TITLE instead h1 tag */
.svg-title {
  display: flex;
  width: clamp(300px, 40vw, 500px);
}

.svg-title__text {
  font-weight: bold;
}
.text-skill,
.ampersand {
  fill: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
}
.ampersand,
.ampersand-stroke {
  font-size: 200px;
  stroke: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
  stroke-width: 3;
}
.ampersand-stroke {
  fill: transparent;
}
.text-idea,
.text-skill {
  font-size: 86px;
  text-transform: uppercase;
}
.text-idea {
  fill: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}
.text-skill {
  letter-spacing: 3px;
}
.bulb-icon__path,
.bulb-icon__reflection {
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}
.bulb-icon__path {
  stroke-width: 3px;
}
.bulb-icon__reflection {
  stroke-width: 2px;
}
.bulb-icon__bulb {
  fill: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}
.flash {
  stroke-dasharray: 7;
  stroke-dashoffset: -5;
  animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
  0% {
  }
  80% {
    stroke-dashoffset: -5;
  }
  100% {
    stroke-dashoffset: 7;
  }
}

.home-left-side__title {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  color: var(--primary-clr);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  user-select: none;
}
/* --- */
.home-left-side__desc {
  grid-column: span 2;
  display: inline;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 300;
  line-height: 1.3;
}
.home-left-side__desc strong {
  font-weight: bold;
}

.home-btns {
  display: flex;
  gap: clamp(1rem, 4vw, 50px);
  margin-top: 3rem;
  padding: 0 1rem;
}
.home-contact-btn {
  position: relative;
  padding: 13px min(30px, 40px);
  color: transparent;
  font-size: clamp(1em, 1.5vw, 1.5em);
  font-weight: bold;
  line-height: 1;
  box-shadow: inset 0px 0px 0 3px var(--secondary-clr);
  transition: all 0.3s ease-in-out;
}
.home-contact-btn::before,
.home-contact-btn::after {
  position: absolute;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
}
.home-contact-btn::before {
  content: '';
  inset: 0;
  background-color: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
  transform: translate(-15px, -15px);
  z-index: 1;
}
.home-contact-btn::after {
  content: attr(title);
  top: 50%;
  left: 50%;
  color: var(--bg-clr);
  white-space: nowrap;
  transform: translate(calc(-15px - 50%), calc(-15px - 50%));
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.home-contact-btn:hover::before {
  transform: translate(0, 0);
}
.home-contact-btn:hover::after {
  transform: translate(-50%, -50%);
}

.home-right-side {
  height: 650px;
  grid-column: 8 / span 6;
  display: grid;
  align-self: center;
  position: relative;
}
.pic-l,
.pic-d {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  pointer-events: none;
}
.pic-l img,
.pic-d img {
  object-fit: contain;
}

.pic-d img {
  object-fit: contain;
  filter: contrast(1.15) grayscale(1.5);
}

.home-right-side__rect {
  position: absolute;
  left: 0;
  z-index: -1;
  stroke-width: 10;
  transform: translateY(-50%);
}
.rect-1 {
  top: 52%;
  stroke: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}
.rect-2 {
  top: 45%;
  stroke: var(--secondary-clr);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .home-left-side {
    justify-self: center;
    grid-column: span 6;
  }
  .svg-title {
    width: clamp(250px, 80vw, 600px);
  }
  .home-left-side__desc {
    font-weight: 400;
  }
  .home-left-side__desc {
    line-height: 1.5;
  }

  .home-btns {
    gap: clamp(1rem, 6.5vw, 50px);
    padding: 0 0 0 1rem;
  }
  .home-contact-btn {
    padding: 13px min(25px, 30px);
    font-size: clamp(0.9em, 1.5vw, 1.2em);
  }
  .home-resume-btn {
    font-size: clamp(0.9em, 1.5vw, 1.2em);
  }

  .home-right-side {
    grid-column: span 6;
  }
}
@media screen and (max-width: 330px) {
  .home-btns {
    justify-content: space-between;
  }
}
