@import url('./stackoverflow.css');

.home-left-side {
  align-self: center;
  grid-column: span 5;
  width: min-content;
  height: min-content;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

/* SVG TITLE instead h1 tag */
.svg-title {
  display: flex;
  width: clamp(300px, 40vw, 500px);
}

.svg-title__text {
  font-weight: bold;
}
.text-skill,
.ampersand {
  fill: var(--secondary-clr);
}
.ampersand,
.ampersand-stroke {
  font-size: 200px;
  stroke: var(--secondary-clr);
  stroke-width: 3;
}
.ampersand-stroke {
  fill: transparent;
}
.text-idea,
.text-skill {
  font-size: 86px;
  text-transform: uppercase;
}
.text-idea {
  fill: var(--primary-clr);
}
.text-skill {
  letter-spacing: 3px;
}
.bulb-icon__path,
.bulb-icon__reflection {
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: var(--primary-clr);
}
.bulb-icon__path {
  stroke-width: 3px;
}
.bulb-icon__reflection {
  stroke-width: 2px;
}
.bulb-icon__bulb {
  fill: var(--primary-clr);
}
.flash {
  stroke-dasharray: 7;
  stroke-dashoffset: -5;
  animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
  0% {
  }
  80% {
    stroke-dashoffset: -5;
  }
  100% {
    stroke-dashoffset: 7;
  }
}

.home-left-side__title {
  color: var(--primary-clr);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}
/* --- */

.home-left-side__desc {
  grid-column: span 2;
  font-size: clamp(18px, 3vw, 28px);
  font-weight: 200;
  line-height: 1.2;
}

.home-btns {
  display: flex;
  gap: 50px;
  margin-top: 2rem;
  padding: 0 1rem;
}
.home-btns__button {
  position: relative;
  padding: 13px min(30px, 40px);
  color: transparent;
  font-size: clamp(1.125em, 2.5vw, 1.5em);
  font-weight: bold;
  line-height: 1;
  box-shadow: inset 0px 0px 0 3px var(--secondary-clr);
}
.home-btns__button::before,
.home-btns__button::after {
  position: absolute;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
}
.home-btns__button::before {
  content: '';
  inset: 0;
  background-color: var(--secondary-clr);
  transform: translate(-15px, -15px);
  z-index: 1;
}
.home-btns__button::after {
  content: attr(title);
  top: 50%;
  left: 50%;
  color: var(--bg-clr);
  white-space: nowrap;
  transform: translate(calc(-15px - 50%), calc(-15px - 50%));
  z-index: 2;
}
.home-btns__button:hover::before {
  transform: translate(0, 0);
}
.home-btns__button:hover::after {
  transform: translate(-50%, -50%);
}
.home-btns__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: clamp(1.125em, 2.5vw, 1.5em);
  font-weight: bold;
}
.link-arrow-icon {
  width: 16px;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background-color: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}

.link-arrow-icon::before,
.link-arrow-icon::after {
  content: '';
  height: inherit;
  position: absolute;
  top: -0.5px;
  right: 1px;
  border-radius: inherit;
  background-color: inherit;
  transform-origin: center right;
  transition: inherit;
}
.link-arrow-icon::before {
  width: 20px;
  transform: rotate(-45deg);
}
.link-arrow-icon::after {
  width: 15px;
  transform: rotate(-90deg);
}
.home-btns__link:hover .link-arrow-icon {
  width: 100%;
  background-color: var(--secondary-clr);
}
.home-btns__link:hover .link-arrow-icon::before,
.home-btns__link:hover .link-arrow-icon::after {
  width: 0;
}

.home-right-side {
  grid-column: 7 / span 6;
  align-self: center;
  position: relative;
}
.pic-l,
.pic-d {
  height: 650px;
  position: relative;
  opacity: 0;
  pointer-events: none;
}
html[data-theme='light'] .pic-l,
html[data-theme='dark'] .pic-d {
  opacity: 1;
}

.home-right-side__rect {
  position: absolute;
  left: 0;
  z-index: -1;
  stroke-width: 10;
  transform: translateY(-50%);
}
.rect-1 {
  top: 52%;
  stroke: var(--primary-clr);
}
.rect-2 {
  top: 45%;
  stroke: var(--secondary-clr);
}

@media screen and (max-width: 768px) {
  .home-left-side {
    justify-self: center;
    grid-column: span 6;
  }
  .svg-title {
    width: clamp(250px, 80vw, 600px);
  }
  .home-left-side__desc {
    font-weight: 400;
  }
  .home-left-side__desc {
    line-height: 1.5;
  }

  .home-btns {
    padding: 0 0 0 1rem;
  }
  .home-btns__button {
    padding: 13px min(25px, 30px);
    font-size: clamp(1em, 2.5vw, 1.5em);
  }
  .home-btns__link {
    font-size: clamp(1em, 2.5vw, 1.5em);
  }

  .home-right-side {
    grid-column: span 6;
    top: 10vh;
    opacity: 0.3;
    position: absolute;
    width: 75vh;
    left: 80%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .home-right-side__rect {
    opacity: 0.2;
  }
}
@media screen and (max-width: 330px) {
  .home-btns {
    justify-content: space-between;
  }
}
