.link:hover :is(.external, .stackoverflow, .figma, .email) {
  stroke: var(--secondary-clr);
}
.link:hover :is(.github, .linkedin) {
  fill: var(--secondary-clr);
}

.link__svg {
  min-width: 23px;
  max-height: 23px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.external,
.stackoverflow,
.figma,
.email {
  stroke: var(--primary-clr);
}

.github,
.linkedin {
  fill: var(--primary-clr);
}
