.link:hover :is(.external, .stackoverflow, .figma) {
  stroke: var(--secondary-clr);
}
.link:hover :is(.github, .linkedin) {
  fill: var(--secondary-clr);
}

.link__svg {
  width: 23px;
  height: 23px;
  transition: all 0.3s ease-in-out;
}
.external {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}
.external,
.stackoverflow,
.figma {
  stroke: var(--primary-clr);
}
.stackoverflow,
.figma {
  stroke-width: 2px;
}

.github,
.linkedin {
  fill: var(--primary-clr);
}
