.header {
  grid-column: 1 / -1;
  height: 2rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
}
.logo__fill {
  fill: var(--primary-clr);
}
.logo__alt-fill {
  fill: var(--secondary-clr);
}

/* LINKS */
.nav {
  width: fit-content;
  height: max-content;
  display: flex;
  gap: 1.8rem;
  position: relative;
  margin-left: auto;
}

.mob-nav {
  --alpha: 1;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  position: fixed;
  top: 0;
  left: 0;

  background-color: hsla(
    var(--bg-nav-h),
    var(--bg-nav-s),
    var(--bg-nav-l),
    var(--alpha)
  );
  clip-path: circle(0px at calc(100vw - 72px) 32px);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
  will-change: clip-path;
  z-index: -1;
}

.mob-nav.open {
  --alpha: 1;
  background-color: hsla(
    var(--bg-nav-h),
    var(--bg-nav-s),
    var(--bg-nav-l),
    var(--alpha)
  );
  clip-path: circle(150% at calc(100vw - 72px) 32px);
  transition-delay: 0.3s;
  z-index: 1000;
}

.nav-link {
  font-size: 1em;
  padding: 0.35rem 0;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--secondary-clr);
}

.mob-nav .nav-link {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
  will-change: transform opacity;
}
.mob-nav .nav-link:nth-of-type(1) {
  transition-delay: 0s;
}
.mob-nav .nav-link:nth-of-type(2) {
  transition-delay: 0.05s;
}
.mob-nav .nav-link:nth-of-type(3) {
  transition-delay: 0.1s;
}
.mob-nav .nav-link:nth-of-type(4) {
  transition-delay: 0.15s;
}

.open.mob-nav .nav-link {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.open.mob-nav .nav-link:nth-of-type(1) {
  transition-delay: 0.4s;
}
.open.mob-nav .nav-link:nth-of-type(2) {
  transition-delay: 0.45s;
}
.open.mob-nav .nav-link:nth-of-type(3) {
  transition-delay: 0.5s;
}
.open.mob-nav .nav-link:nth-of-type(4) {
  transition-delay: 0.55s;
}

/* MOBILE NAVIGATION S */
.mob-menu-btn,
.mob-nav__close-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mob-menu-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0 var(--m-radius) var(--m-radius) 0;
  margin-left: auto;
}

.mob-nav__close-btn {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: -3rem;
  opacity: 0;
  border-radius: 50%;
  background-color: var(--primary-clr);
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
  will-change: transform opacity;
}

.open .mob-nav__close-btn {
  transition-delay: 0.4s;
  transform: translate3d(0, -15vh, 0);
  opacity: 1;
}
.mob-menu-btn__icon {
  background-color: var(--primary-clr);
}
.mob-menu-btn__icon {
  width: 1.4rem;
  height: 3px;
  border-radius: var(--l-radius);
  position: relative;
}
.mob-menu-btn__icon::after,
.mob-menu-btn__icon::before {
  content: '';
  width: 0.8rem;
  height: inherit;
  position: absolute;
  border-radius: inherit;
  background-color: inherit;
}
.mob-menu-btn__icon::before {
  top: -0.5rem;
  right: 0;
}
.mob-menu-btn__icon::after {
  top: 0.5rem;
  left: 0;
}

.mob-nav__close-btn::before,
.mob-nav__close-btn::after {
  content: '';
  width: 1.1rem;
  height: 3px;
  border-radius: var(--l-radius);
  position: absolute;
  background-color: var(--bg-clr);
}
.mob-nav__close-btn::before {
  transform: rotate(45deg);
}
.mob-nav__close-btn::after {
  transform: rotate(-45deg);
}

.mob-nav__bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.mob-nav__1-circle,
.mob-nav__2-circle {
  position: fixed;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  r: 15;
}

.mob-nav__1-circle {
  transition-delay: 0.35s;
  fill: hsla(var(--bg-nav-h), var(--bg-nav-s), var(--bg-nav-l1), var(--alpha));
  cy: 32;
  cx: calc(100vw - 70px);
}
.mob-nav__2-circle {
  transition-delay: 0.3s;
  fill: hsla(var(--bg-nav-h), var(--bg-nav-s), var(--bg-nav-l2), var(--alpha));
  cy: 32; /*90 */
  cx: calc(100vw - 70px); /* -55 */
}

.open .mob-nav__1-circle {
  transition-delay: 0.05s;
  r: 115%;
}
.open .mob-nav__2-circle {
  transition-delay: 0.15s;
  r: 100%;
}

/* LANGUAGE SWITCHER */
.lang-switcher {
  display: flex;
  position: relative;
  overflow: hidden;
}

.lang-switcher::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--s-radius);
  background-color: var(--bg-dimed);
  z-index: -2;
}

.switch {
  --width-box: 2rem;
  height: 1.75rem;
  position: absolute;
  top: 0;
  left: 0;
  right: var(--width-box);
  bottom: 0;
  border-radius: var(--s-radius);
  opacity: 1;
  background-color: var(--secondary-clr);
  z-index: -1;
}

/* remove duration & add after 300ms */
.en .switch {
  animation: en ease-in-out forwards;
}
.ru .switch {
  animation: ru ease-in-out forwards;
}
.ru .lang-duration,
.en .lang-duration {
  animation-duration: 0.3s;
}

@keyframes en {
  0% {
    right: 0;
    left: var(--width-box);
  }
  50% {
    right: 10px;
    left: 0;
  }
  100% {
    right: var(--width-box);
    left: 0;
  }
}
@keyframes ru {
  0% {
    right: var(--width-box);
    left: 0;
  }
  50% {
    right: 0;
    left: 10px;
  }
  100% {
    right: 0;
    left: var(--width-box);
  }
}

.lang-switcher a {
  width: 2rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.lang-switcher a.active {
  color: var(--bg-clr);
  background-color: var(--secondary-clr);
  transition-delay: 0.15s;
}

/* THEME SWITCHER */
.theme-switcher {
  display: flex;
  cursor: pointer;
}

@import url('./theme-icon.css');

/*Prevent dark-theme transition onload */
.theme-duration .theme-icon,
.theme-duration .theme-icon__line {
  transition-duration: 0.5s;
}
.theme-duration .theme-icon__half_moon {
  transition-duration: 0.3s;
}
.theme-duration .theme-icon__sun {
  transition-duration: 0.8s;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
  }
  .logotip {
    width: 40px;
  }
  .nav {
    display: none;
  }
  .mob-nav {
    display: flex;
  }
  .nav-link {
    font-size: 2em;
  }
  .mob-menu-btn,
  .mob-nav__close-btn {
    display: flex;
  }
  .lang-switcher {
    display: none;
  }
  .mob-nav .lang-switcher {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
    will-change: transform opacity;
  }
  .open.mob-nav .lang-switcher {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.5s;
  }
}
